
{% if request.user.is_authenticated %}
    <div style="text-align: center; display: inline; justify-content: center; padding: 20px;">
        <p>You are logged in with <strong>{{request.user.username}}</strong></p>
        <form action="{% url 'logout' %}" method='POST'>
            {% csrf_token %}
            Please
            <input type="hidden" name="username" value="{{request.user.username}}">
            <button style="cursor: pointer;" type="submit">Click here</button>
            to logout.
        </form>   
    </div>  
{% endif %}