{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
    {% include 'partials/search.html' %}

    <div class="card-container">
        <div class="card">
            <figure class="img-card-container">
                <img class="img-card" src={% static "img/hamburguer.webp" %} alt="">
            </figure>
            <div class="info-container">
                <p class="titulo">Duis ipsum est duis culpa.</p>
                <article class="topicos-container">
                    <p id="autor" class="info"><i class="fas fa-light fa-user"></i> Autor</p>
                    <p id="data" class="info"><i class="fas fa-light fa-calendar-days"></i> Data</p>
                    <p id="topico" class="info"><i class="fas fa-light fa-plate-wheat"></i> Topico</p>
                </article>
                <div class="descricao">
                    <p>Proident qui est officia do sit ad Lorem ullamco.</p>
                </div>
            </div>
            <div class="modos-preparo-container">
                <section class="modos-preparo">
                    <p id="preparo" class="modos"><i class="fas fa-light fa-clock"></i> Preparo</p>
                    <p id="porcoes" class="modos"><i class="fas fa-light fa-pizza-slice"></i> Porções</p>
                </section>
                <section class="info-preparo">
                    <p class="info">0 Minutos</p>
                    <p class="info">0 Porções</p>
                </section>
            </div>
            <div class="btn-container">
                <button class="btn-ver-mais"><i class="fas fa-light fa-eye"></i> ver mais...</button>
            </div>
        </div>
    </div>

</body>
</html>