{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
    {% include 'partials/search.html' %}

    <div class="card-container">
        <div class="card">
            <figure class="img-card-container">
                <img class="img-card" src={% static "img/hamburguer.webp" %} alt="">
            </figure>
            <article class="descricao-container">
                <p class="titulo-receita">Duis ipsum est duis culpa.</p>
                <span>
                    <p id="autor" class="info">Autor</p>
                    <p id="data" class="info">Data</p>
                    <p id="topico" class="info">Topico</p>
                </span>
                <p class="descricao-receita"></p>
            </article>
            <section class="modos-preparo-container">
                <p id="preparo" class="modos">Preparo</p>
                <p id="porcoes" class="modos">Porções</p>
            </section>
        </div>
    </div>

</body>
</html>