{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
    <div class="search-container">
        <form action="" class="search-form">
            <input class="search-input" name="search" type="search" placeholder="Digite aqui para buscar..." >
            <button class="search-btn"  type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    
</body>
</html>