.container{
    
    display: flex;
    justify-content: center;
}

body{
    background-color: #e0e0e0;;
}

input{
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    height: 20px;
    width: 450px;
}