.search-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

body{
    background-color: #e0e0e0;;
}

.search-form{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 7px;
    border: 2px solid black;
    max-width: 64rem;
    border-radius: 5px;
    background-color: white;
}

.search-input{
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    width: 500px;
}

.search-btn{
    height: 10px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.card-container{
    padding: 40px;
    margin-top: 30px;
}

.card{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.363);
    cursor: pointer;
    background-color: white;
    height: 488px;
    width: 350px;
    
}

.card:hover{
    transform: scale(1.05);
}

.img-card{
    width: 350px;
    height: 220px;
}

.info-container{
    padding: 20px;
}

.titulo{
    font-size: 1.3em;
    font-weight: bold;
}

.topicos-container{
    margin-top: 10px;
    gap: 70px;
    justify-content: center;
    display: flex;
}

.info{
    font-size: 0.9em;
}

.descricao{
    margin-top: 20px;
}

.descricao > p {
    font-size: 1em;
    
}

.modos-preparo-container{
    padding: 20px;
    height: 40px;
    background-color: rgba(173, 216, 230, 0.249);
}

.modos-preparo{
    gap: 100px;
    display: flex;
    justify-content: center;
}

.modos{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.85em;
}

.info-preparo{
    display: flex;
    gap: 110px;
    align-items: center;
    justify-content: center;
}


.btn-ver-mais{
    background-color: black;
    color: white;
    cursor: pointer;
    width: 350px;
    height: 40px;
}


