{% load static %}
<title>{% block title %}Receitas{% endblock title %}</title>
<body>
    {% include 'recipesApp/partials/header.html' %}
    {% include 'recipesApp/partials/search.html' %}
    <div class="card-container">
        {% block content-card %}
        {% endblock content-card %}    
    </div>
    <div class="card-container-view">
        {% block content-card-view %}
        {% endblock content-card-view %}
    </div>
    {% include 'recipesApp/partials/footer.html' %}
</body>
</html>