{% load static %}
<html lang="pt-BR">

<head>
    {% include 'recipesApp/partials/head.html' %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% include 'recipesApp/partials/header.html' %}
    {% include 'recipesApp/partials/search.html' %}

    {% block search %}
    {% endblock search %}

    {% block messages %}
    {% endblock messages %}

    <div class="card-container">
        {% block content-card %}
        {% endblock content-card %}    
        {% include 'recipesApp/partials/pagination.html' %}
    </div>
    
    {% include 'recipesApp/partials/footer.html' %}
</body>
</html>