{% extends 'global/base.html' %}

{% block title %} {{page_title}} {% endblock title %}


{% block messages %}
    <div class="message-container">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    </div>
{% endblock messages %}

{% block content-card %}
    {% for recipe in recipes %}
        {% include 'recipesApp/partials/card.html' %}
    {% empty %}
        <div style="text-align: center; padding-bottom: 20px; padding-top: 20px;"  class="center">
            <h1>No Recipes found here 😟</h1>
        </div>
    {% endfor %}
{% endblock content-card %}

