{% load static %}
<link rel="stylesheet" href="{% static 'recipesApp/css/card.css' %}">

<div class="card-view">
    <figure class="img-card-container">
        <img class="img-card-view" src="{{recipe.cover.url}}" alt="">
    </figure>
    <div class="info-container">
        <p class="titulo">{{recipe.title}}</p>
        <article class="topicos-container-view">
            <p id="autor-view" class="info"><i class="fas fa-light fa-user"></i> {{recipe.author.first_name}} {{recipe.author.last_name}}</p>
            <p id="data-view" class="info"><i class="fas fa-light fa-calendar-days"></i> {{recipe.created_at|date:"d/m/Y"}}</p>
            <p id="topico-view" class="info"><i class="fas fa-light fa-plate-wheat"></i> {{recipe.category.name}}</p>
        </article>
        <div class="descricao">
            <p>{{recipe.description}}</p>
        </div>
    </div>
    <div class="modos-preparo-container">
        <section class="modos-preparo">
            <p id="preparo" class="modos"><i class="fas fa-light fa-clock"></i> Preparo</p>
            <p id="porcoes" class="modos"><i class="fas fa-light fa-pizza-slice"></i> Porções</p>
        </section>
        <section class="info-preparo">
            <p class="info">{{recipe.preparation_time}} {{recipe.preparation_time_unit}}</p>
            <p class="info">{{recipe.servings}} {{recipe.servings_unit}}</p>
        </section>
    </div>

    <div class="como-preparar-container-view">
        {{recipe.preparation_steps|linebreaksbr}}
    </div>
</div>