
.form-container{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.536);
    
    max-width: 800px;
    margin: auto;
    padding-top: 40px;
    justify-content: center;
}

.form-content{
    /*grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
}

.form-content input{
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

.form-group{
    
    padding: 20px;
}

.form-group button{
    background-color: black;
    color: white;
    padding: 5px;
    width: 70px;
    cursor: pointer;
}


.title{
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
}

.help-text{
    font-size: 0.8em;
}

.errorlist{
    color: rgba(255, 0, 0, 0.741);
    font-size: 0.95em;
}