.form-container{
    max-width: 1000px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.form-content{
    /*grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));*/
    grid-template-columns: 200px 200px 200px;
    display: grid;
}

.title{
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
}