:root{
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
}

.message-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.message{
    font-size: 0.9em;
    text-align: center;
    width: 600px;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid black;
    background: rgba(154, 154, 154, 0.255);
    color: black;
}

.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
  }