span{
    display: flex;
    gap: 10px;
}

a.page-item{
    text-align: center;
    width: 30px;
    background-color: rgb(142, 210, 233);
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.pagination-container{
    display: flex;
}