.search-form{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.04);
    padding: 7px;
    border: 2px solid black;
    max-width: 64rem;
    border-radius: 5px;
    background-color: white;
}

.search-input{
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    width: 500px;
}

.search-btn{
    height: 10px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.search-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
